/*basic reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Page settings */
  html {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  body {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
    display: table;
    background: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  canvas {
    display: block;
  }
  
  .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #2efe17;
    font-size: 60px;
    letter-spacing: 7px;
    padding: 3px;
    text-shadow: 0 1px 12px #2efe17;
    background: #000000 !important;
    z-index: 100;
  }
  
  #clock {
    background: #000000;
    border: 5px solid #000;
    border-radius: 8px;
  }
  
  #author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #0F0;
    z-index: 1;
    box-sizing: border-box;
    vertical-align: middle;
  }
  
  span {
    font-family: monospace;
    font-size: 1.5em;
  }
  
  span:after {
    content: "_gheorghe";
    opacity: 0;
    animation: cursor 1s infinite;
  }
  
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  